.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  background-color: #e3e9ff;
  margin: 0px 10%;
  height: 100vh;
}

.app__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
}

.app__header-input-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.app__header-input {
  outline-width: 0;
  font-size: 20px;
  padding: 20px 15px;
  padding-right: 24px;
  background-color: none;
  border: 1px solid tomato;
  color: tomato;
  font-weight: normal;
  width: 300px;
  border-radius: 4px;
}

.app__header-input-button {
  width: 60px;
  font-size: 20px;
  background-color: tomato;
  border: none;
  border-radius: 0px 4px 4px 0px;
  transform: translate(-20px);
  cursor: pointer;
  transition: 0.2s;
  outline: none;
}

.app__header-input-button:hover {
  background-color: black;
  color: white;
}

.app__body {
  margin-top: 40px;
}
